body{
    background-color: rgb(218, 225, 231);
}


h1{
    text-align: center;
    color: rgb(131, 173, 185);
}


.pro{
    color: rgb(131, 173, 185);
        margin: 35px;
}
.hosi{
    color: rgb(131, 173, 185);  
    margin: 35px;
}
.oto{
    color: rgb(131, 173, 185);  
    margin: 35px;
}
